hr{
    width: 50px;
    margin: 0 auto;
    font-weight: bold;
    color: black;
    border:3px solid black;
}
.candiadate-slider-job{

    color: gray;
}
.candidatesSlider{
    position: relative;
    margin-top:-130px;
}
.candidatesSlider .owl-prev{

    color:  white !important;
    background-color: transparent !important;
    font-size: 30px !important;
    font-weight: bold !important;
    position: absolute !important;
    top: 70px !important;
    left: -30px !important;
}
.candidatesSlider .owl-next{

    color:  white !important;
    background-color: transparent !important;
    font-size: 30px !important;
    font-weight: bold !important;
    position: absolute !important;
    top: 70px !important;
    right: -30px !important;

}

